/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:aqua;
} */
styleText {
    color: DarkBlue;
    font-size: 30px;
  }
  body {
    background-color:lightgreen;
  }
  /* .btn{
    padding:0;
  } */

  .main{
      width: 100%;
      /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(images.jpg); */
      background-position:center ;
      background-size: cover;
      height: 109vh;
  }
  h1{
    padding-left: 15em;
  }
  h3{
    padding-left: 20em;
  }
  .bttn{
    padding-left: 40%;

  }